* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


.container {
    background: linear-gradient(#8ec4ff,#ffffff);
    height: 100%;
}

.loginbox {
    position: relative;
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.logincontent {
    position: relative;
    width: 100%;
    height: 75%;
    background-color: #d2f2ff;
    border-radius: 5px;
    border: 2px solid rgba(206, 206, 206, 0.45);
}

/*.left{
    float: left;
    width: 20%;
}

.right{
    float: left;
    width: 20%;
}*/

.login {
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 0%;
    width: 30%;
    height: 5%;
}

.textbox[type=text] {
    border: 2px solid #b3c7ff;
    border-radius: 20px;
    font-size: 20px;
}

.textbox[type=text]::placeholder {
    text-indent: 35%;
}

.textbox[type=text]:focus {
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(171, 171, 171, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}

.textbox[type=password] {
    border: 2px solid #b3c7ff;
    border-radius: 20px;
    font-size: 20px;
}

.textbox[type=password]::placeholder {
    text-indent: 35%;
}

.textbox[type=password]:focus {
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(171, 171, 171, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}

.btnlogin[type=submit] {
    border: 2px solid #b3c7ff;
    border-radius: 20px;
    font-size: 20px;
}

.btnlogin[type=submit]:hover {
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(171, 171, 171, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    cursor: pointer;
}
